<h2>Listado de Canciones</h2>
<table *ngIf="canciones">
    <thead>
        <th>ISMN</th>
        <th>Título</th>
        <th>Fecha de Creación</th>
        <th>Género</th>
        <th>Duración</th>
        <th>Puntuación</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let cancion of canciones">
            <td>{{cancion.ismn}}</td>
            <td>{{cancion.titulo}}</td>
            <td>{{cancion.fechaCreacion}}</td>
            <td>{{cancion.genero.nombre}}</td>
            <td>{{cancion.duracion * 1000 | date:'mm:ss'}}</td>
            <td>{{cancion.puntuacion }}</td>
            <td><button (click)="verFicha(cancion.ismn)">VER</button></td>
        </tr>
    </tbody>
</table>
