<h1>Empanafy App</h1>
<nav>
    <button mat-button routerLink="/home">Home</button>

    <button mat-button [matMenuTriggerFor]="menu1">Canciones</button>
    <mat-menu #menu1="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/listado-canciones">Listado</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu2">Géneros</button>
    <mat-menu #menu2="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/alta-genero">Alta</button>
        <button mat-menu-item routerLink="/listado-generos">Listado</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu3">Intérpretes</button>
    <mat-menu #menu3="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/alta-interprete">Alta</button>
        <button mat-menu-item routerLink="/listado-interpretes">Listado</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu4">Compositores</button>
    <mat-menu #menu4="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/alta-compositor">Alta</button>
        <button mat-menu-item routerLink="/listado-compositores">Listado</button>
    </mat-menu>
</nav>
<router-outlet></router-outlet>
