<h2>Listado de Géneros</h2>
<table mat-table [dataSource]="generos" class="mat-elevation-z8">

  <ng-container matColumnDef="col_1">
    <th mat-header-cell *matHeaderCellDef>Código</th>
    <td mat-cell *matCellDef="let genero">{{genero.codigo}}</td>
  </ng-container>

  <ng-container matColumnDef="col_3">
    <th mat-header-cell *matHeaderCellDef>Observacionhes</th>
    <td mat-cell *matCellDef="let genero">{{genero.observaciones}}</td>
  </ng-container>

  <ng-container matColumnDef="col_2">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let genero">{{genero.nombre}}</td>
  </ng-container>

  <ng-container matColumnDef="col_4">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let genero"><mat-icon (click)="mostrarFila(genero)">open_in_new</mat-icon></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnasAPintar"></tr>          <!--NECESARIO PARA VER CABECERAS DE TABLA-->
  <tr mat-row *matRowDef="let row; columns: columnasAPintar;"></tr>    <!--NECESARIO PARA VER CONTENIDOS DE TABLA-->
</table>

